@import url(https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Original+Surfer&display=swap');

:root {
    --primary-color: #91BEE8;
    --secondary-color: #3587D4;
    --accent-color1: #FFE45C;
    --accent-color2: #ffe45c32;
    --background-color: #FFFFFF;
}

/*----------- GENERAL --------------*/

* {
    border: 0;
    padding: 0;
}

body {
    font-family: 'Lato', Arial, sans-serif;
}

main {
    margin: 0 auto;
    max-width: 1600px;
}

/*----------- HEADER --------------*/
header {
    background: linear-gradient(to bottom, var(--secondary-color), var(--background-color));
    text-align: center;
    padding-bottom: 50px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px;
}

h1 {
    font-family: 'Original Surfer', Arial, sans-serif;
    font-size: 4em;
}

/*----------- NAVIGATION --------------*/
nav ul {
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.75em;
    color: black;
    position: relative;
    padding: 15px;
    z-index: 1;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s ease, height 0.5s ease;
    z-index: -1;
}

nav ul li a:hover::after {
    transform: scaleY(1);
    height: 100%;
}

/*----------- HOMEPAGE MESSAGE --------------*/
#hightemp-message {
    background-color: #91bee835;
    border: 1px solid var(--secondary-color);
    padding: 30px 0;
    margin: 40px auto 10px;
    position: relative;
    max-width: 800px;
}

#hightemp-message p {
    text-align: center;
    font-size: 1.5em;
}

.close {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px 40px;
    cursor: pointer;
}

/*----------- HOMEPAGE RESERVE BUTTON --------------*/
#button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve {
    background: transparent;
    border: 20px double var(--accent-color1);
    border-radius: 20px;
    padding: 20px 50px;
    font-size: 2.4em;
    cursor: pointer;
    transition: 0.8s ease;
    margin: 80px;
}

.reserve:hover {
    border-radius: 80px;
    background-color: var(--accent-color1);
}

/*----------- HOMEPAGE GRID --------------*/
#grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 50px;
}

.firstimage,
.secondimage {
    background-color: #fff;
    padding: 1rem 1rem 3rem;
    box-shadow: 5px 5px 10px 10px #888888;
    max-width: 700px;
}

.firstimage {
    rotate: -2deg;
}

.secondimage {
    rotate: 3deg;
}

/*----------- HOMEPAGE WEATHER --------------*/
#weather-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

.intro,
.weather {
    font-size: 2em;
}

.weather {
    margin-left: 40px;
}

.summary,
.weather-data {
    font-size: 1.25em;
    line-height: 1.8;
}

#weather-icon {
    width: 90px;
    height: auto;
    border: 1px solid #888888;
}

#weather-box figure {
    grid-column: 1/2;
}

/*----------- FOOTER --------------*/
footer {
    background: linear-gradient(to top, var(--secondary-color), var(--background-color));
    margin-top: 100px;
    padding: 30px;
    font-size: 1.25em;
}

#footer-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1600px;
    margin: 0 auto;
}

#social-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------- RESERVATIONS PAGE --------------*/
.reserve-header {
    font-size: 2em;
    margin-left: 2rem;
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px sold #9a0909;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 label {
    display: block;
    padding-top: 2rem;
    font-size: 1.2rem;
}

.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type="tel"],
.wf1 input[type="date"],
.wf1 textarea,
.wf1 select {
    background-color: var(--accent-color2);
    display: block;
    border: 1.5px solid var(--accent-color1);
    border-radius: 5px;
    padding: .75rem;
    width: 100%;
    max-width: 500px;
}

#personal-box,
#rent-box {
    border: 1px solid rgb(171, 171, 171);
    border-radius: 5px;
    padding-bottom: 20px;
    margin: 1.5rem 2rem;
}

#time-box,
#type-box {
    margin: 2em 0;
    padding: .75rem;
    border: 1.5px solid var(--accent-color1);
    border-radius: 5px;
    font-size: 1.2rem;
    width: 100%;
    max-width: 500px;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;
    cursor: pointer;
}

#agree-box {
    margin-left: 2rem;
    padding: 0 10px 20px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 5px;
}

.wf1 button {
    background-color: var(--accent-color1);
    border-radius: 5px;
    padding: .9rem;
    width: 100%;
    font-size: 1.5em;
    max-width: 500px;
    margin: 3rem 4%;
}

.wf1 button:hover {
    cursor: pointer;
}

#rental-agreement

/*----------- CONTACT PAGE --------------*/
#contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 80px;
    max-width: 1500px;
}

.contact-p {
    margin-left: 1rem;
    font-size: 2em;
}

#contact-img,
.wf2 form {
    background-color: #fff;
    padding: 1rem 1rem 3rem;
    box-shadow: 5px 5px 10px 10px #888888;
    max-height: 525px;
}

#contact-img {
    rotate: -3deg;
    margin: 0 auto;
}

.wf2 label {
    display: block;
    padding-top: 2rem;
    font-size: 1.2rem;
}

.wf2 input[type="text"],
.wf2 input[type="email"],
.wf2 textarea {
    background-color: var(--accent-color2);
    display: block;
    border: 1.5px solid var(--accent-color1);
    border-radius: 5px;
    padding: .75rem;
    width: 100%;
    max-width: 500px;
}

.wf2 button {
    border: 4px solid var(--accent-color1);
    background-color: var(--accent-color2);
    border-radius: 5px;
    padding: .9rem;
    width: 96%;
    font-size: 1.5em;
    max-width: 500px;
    margin: 3rem 4%;
}

.wf2 button:hover {
    cursor: pointer;
}

/*----------- CONFIRMATION PAGE --------------*/
#confirm-message {
    text-align: center;
    margin: 80px 3rem;
    border: 2px solid var(--accent-color1);
    padding: 30px;
}