@media screen and (min-width: 1050px) {

    nav {
        position: absolute;
        top: 0;
        right: 20px;
        left: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        gap: 80px;
        padding: 50px;
        margin-right: 80px;
    }

    nav li {
        margin-left: 20px;
    }

    #menu {
        display: none;
    }

    #logo,
    h1 {
        display: inline;
        vertical-align: middle;
    }

    #logo {
        margin-left: 100px;
    }

    .button {
        position: absolute;
        right: 780px;
        top: 450px;
        margin-top: 0;
    }

    h2 {
        text-align: left;
    }

    #event-box,
    #weather-box,
    #company-box {
        width: 70%;
    }

    #event-box,
    #company-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #weather-box p {
        display: inline-block;
        padding: 10px 100px;
    }

    #event-box p,
    #company-box p {
        grid-row: 2/3;
        justify-self: center;
        align-self: center;
    }

    #weather-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #threeday {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #current,
    #forecast {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #forecast {
        padding-top: 40px;
    }

    #current figure,
    #current p {
        margin-bottom: 10px;
    }

    .close {
        position: absolute;
        top: 190px;
        right: 40px;
    }

    .grid div {
        margin-left: 300px;
        margin-right: 300px;
    }
}